.category-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .category-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h4 {
      margin-bottom: 1.5rem;
    }

    .category-links {
      padding: 0.3rem;
      display: inline-block;
      font-size: var(--fs-body);
      color: var(--color-Dark-400);
      transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;

      &:hover {
        color: white;
        background-color: var(--color-btn-secondary);
      }
    }
  }
}

#category-cards {
  background-color: var(--color-light-100);

  .category-item {
    overflow: hidden;
    position: relative;
    margin: 3rem 0.8rem;
    transition: transform 0.3s ease-in-out;

    img {
      transform: scale(1);
      transition: transform 0.3s ease-in-out;
    }

    h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      color: white;
      text-align: center;
      transform: translate(-50%, -50%);
    }

    &::before {
      content: "";
      opacity: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      background-color: var(--color-primary);
      transition: opacity 0.3s ease-in-out;
    }

    &:hover::before {
      opacity: 0.4;
    }

    &:hover img {
      transform: scale(1.12);
    }
  }
}
