#newArrivals {
  .heading {
    margin-bottom: 5rem;
    font-family: var(--fm-primary);

    h6 {
      font-size: 1.4rem;
      margin-bottom: 1.5rem;
      letter-spacing: 0.2rem;
    }

    h2 {
      z-index: 0;
      font-size: 5rem;
      position: relative;
      display: inline-block;

      &::before {
        content: "";
        position: absolute;
        z-index: -1;
        bottom: 0;
        right: 0;
        width: 51%;
        height: 2rem;
        background: var(--color-primary);
      }
    }
  }
}

#gear,
#swiper-arrivals {
  h4,
  .prod-price,
  .cross-price {
    z-index: 0;
    padding: 0.3rem;
    margin-right: 0.5rem;
    position: relative;
    transition: color 0.3s ease-in-out;

    &::before {
      content: "";
      width: 0;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      background: var(--color-primary);
      transition: width 0.3s ease-in-out;
    }
  }

  .newArrival-item {
    cursor: pointer;

    figure {
      text-align: center;
    }

    .oc-description {
      display: inline-block;
    }

    &:hover {
      .btn-blue {
        top: 50%;
        opacity: 1;
      }

      h4,
      .prod-price,
      .cross-price {
        color: white;

        &::before {
          width: 100%;
        }
      }

      .swiper-button-prev {
        left: -5%;
        opacity: 1;
      }

      .swiper-button-next {
        right: -5%;
        opacity: 1;
      }
    }
  }
}

#swiper-arrivals {
  width: 90%;
  margin: 0 auto;

  .swiper-button-next::after,
  .swiper-button-prev::after {
    color: white;
    line-height: 0;
    font-size: 4rem;
    padding: 0 2rem;
    padding-bottom: 1rem;
    background-color: var(--color-secondary);
  }

  .swiper-button-prev {
    position: absolute;
    opacity: 0;
    top: 42%;
    left: -8%;
  }

  .swiper-button-next {
    position: absolute;
    top: 42%;
    right: -8%;
    opacity: 0;
  }

  .newArrival-item {
    position: relative;

    .btn-blue {
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0;
      font-size: 1.2rem;
      transform: translate(-50%, -50%);
      transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    .prod-price,
    .cross-price {
      font-weight: 700;
      font-size: 1.6rem;
      color: var(--color-text-primary);
    }
  }
}
