@import "./variables.css";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  /* Inherits from body element */
}

html {
  font-size: 62.5%;
  /* Always use percentages. 1rem = 10px. */
  scroll-behavior: smooth;
  /* Prevent adjustments of font size after orientation changes in iO*/
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
  color: var(--color-body);
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  font-family: var(--fm-body);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;

  &::-webkit-scrollbar {
    width: 0.8rem;
  }

  &::-webkit-scrollbar-track {
    background: var(--color-scrollbar);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-scrollThumb);
  }
}

@supports (scrollbar-color: var(--color-scrollThumb) var(--color-scrollbar)) {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-scrollThumb) var(--color-scrollbar);
  }
}

/* // -- PROPERTY  -------------------------------------------------------------------- */

h1,
h2,
h3,
h4 {
  line-height: var(--lh-heading);
  font-family: var(--fm-primary);
}

input,
button,
select,
textarea {
  font: inherit;
  font-size: 100%;
  line-height: 1.15;
}

ul:not(.browser-default) > li {
  list-style: none;
}

a:not(.browser-default) {
  text-decoration: none;
}

p {
  font-size: var(--fs-body);
}

h1 {
  margin: 1rem 0;
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

h4 {
  font-size: var(--fs-h4);
}

figure {
  line-height: 0;
}

img {
  height: auto;
  line-height: 0;
  border-style: none;
}

small {
  font-size: 80%;
}

/* OPTIONAL -- remove animations for people who've turned them off */

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    -o-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
