:root {
  /* // Font Variables -------- fm - Font Family -- fs - Font Size -- fw - Font Weight ------- */

  --fm-body: "Segoe UI", sans-serif;

  --fm-primary: "Oswald", sans-serif;

  --fm-secondary: "Segoe UI", sans-serif;

  --fs-h1: 4rem;
  --fs-h2: 3.2rem;
  --fs-h3: 2.4rem;
  --fs-h4: 1.8rem;
  --fs-h5: 1.5rem;
  --fs-h6: 1.2rem;

  --fs-btn: 1.4rem;
  --fs-body: 1.4rem;
  --fs-icons: 1.2rem;
  --fs-topbar: 1.2rem;
  --fs-subheading: 1.5rem;

  /* // -- Line Height - lh ------------------------------------------------------------------- */

  --lh-body: 1.7;
  --lh-heading: 1.2;

  /* // Color Variables ----------------------------------------------------------------------- */

  --color-gradient1: linear-gradient(to top, hsl(234, 100%, 58%), transparent);
  --color-gradient2: linear-gradient(to top, transparent, hsl(234, 100%, 58%));

  --color-scrollbar: hsl(0, 0%, 93%);
  --color-scrollThumb: hsl(238, 62%, 55%);

  --color-primary: hsl(234, 100%, 58%);
  --color-secondary: hsl(0, 0%, 7%);
  --color-tertiary: hsl(71, 75%, 55%);

  --color-light-100: hsl(0, 0%, 96%);
  --color-light-400: hsl(0, 0%, 88%);
  --color-light-800: hsl(0, 0%, 88%);

  --color-Dark-100: hsl(0, 0%, 13%);
  --color-Dark-400: hsl(0, 0%, 7%);
  --color-Dark-800: hsl(0, 0%, 0%);

  --color-footerBar: hsl(0, 0%, 13%);

  --color-text-primary: hsl(0, 0%, 66%);

  --color-body: hsl(0, 0%, 17%);
  --color-hover: hsl(234, 100%, 58%);
  --color-primary-hover: hsl(234, 100%, 50%);

  --color-btn-primary: hsl(234, 100%, 58%);
  --color-btn-secondary: hsl(0, 0%, 7%);

  /* // Dimensions Variables ------------------------------------------------------------------ */

  --width-container: 1440px;
  --section-padding: 5rem;

  /* // Box Shadow ---------------------------------------------------------------------------- */

  --box-shadow-lg: 0 1rem 3rem hsla(0, 0%, 0%, 0.225);
  --box-shadow-md: 0 0.5rem 1rem hsla(0, 0%, 0%, 0.15);
  --box-shadow-sm: 0 0.125rem 0.25rem hsla(0, 0%, 0%, 0.075);

  /* // ---------------------------------------------------------------------------- */
}
